<ul class="book-list 0">
<% @books.each_with_index do |book, index| %>
    <li>
        <div class="book">
            <% if book.pages.ordered.first.present? %>
            <%= link_to book_path(book.id) do %>
                <%= image_tag book.pages.ordered.first.image.variant(resize_to_limit: [300,300]) %>
            <% end %>
            <% end%>
        </div>
    </li>
<% end %>
</ul>
