// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-body {
    max-width: 800px;
}

textarea {
    max-width: 800px;
}

// Post Index
.posts-container {
    width: 100%;
    margin: auto;
    .card {
        width: 800px;
        height: 400px;
        margin: auto;
    }
}

// Post Show
.post-container {
    .card {
        width: 100%;
        height: auto;
    }
}


