<div class="img-wrapper">
    <%= image_tag ('page_header'), class: 'image-responsive page-header-img' %>
</div>
<div class="content-container">
    <h2 class="btn btn-primary">About Us</h2>
    <div class="container-lg text-center">
        <%= image_tag ('k2k_about'), class: 'image-responsive', id: 'about-image' %>
    </div>
</div>